<head>
    <style>
        .icon-hover-primary:hover {
            border-color: #3b71ca !important;
            background-color: white !important;
        }

        .icon-hover-primary:hover i {
            color: #3b71ca !important;
        }

        .icon-hover-danger:hover {
            border-color: #dc4c64 !important;
            background-color: white !important;
        }

        .icon-hover-danger:hover i {
            color: #dc4c64 !important;
        }

        .boxed label {
            display: inline-block;
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            border: solid 2px #ccc;
            transition: all 0.3s;
        }

        .boxed input[type="radio"] {
            display: none;
        }

        .boxed input[type="radio"]:checked+label {
            border: solid 2px rgb(15, 103, 218);
            background-color: #bad5ff;
        }

        :root {
            --card-line-height: 1.2em;
            --card-padding: 1em;
            --card-radius: 0.5em;
            --color-green: #558309;
            --color-gray: #e2ebf6;
            --color-dark-gray: #c4d1e1;
            --radio-border-width: 2px;
            --radio-size: 1.5em;
        }

        body {
            background-color: #f2f8ff;
            color: #263238;
            font-family: 'Noto Sans', sans-serif;
            margin: 0;
            padding: 2em 6vw;
        }

        .grid {
            display: grid;
            grid-gap: var(--card-padding);
            margin: 0 auto;
            max-width: 60em;
            padding: 0;

            @media (min-width: 42em) {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .card {
            background-color: #fff;
            border-radius: var(--card-radius);
            position: relative;

            &:hover {
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
            }
        }

        .radio {
            font-size: inherit;
            margin: 0;
            position: absolute;
            right: calc(var(--card-padding) + var(--radio-border-width));
            top: calc(var(--card-padding) + var(--radio-border-width));
        }

        @supports(-webkit-appearance: none) or (-moz-appearance: none) {
            .radio {
                background: #fff;
                border: var(--radio-border-width) solid var(--color-gray);
                border-radius: 50%;
                cursor: pointer;
                height: var(--radio-size);
                outline: none;
                transition:
                    background 0.2s ease-out,
                    border-color 0.2s ease-out;
                width: var(--radio-size);

                &::after {
                    border: var(--radio-border-width) solid #fff;
                    border-top: 0;
                    border-left: 0;
                    content: '';
                    display: block;
                    height: 0.75rem;
                    left: 25%;
                    position: absolute;
                    top: 50%;
                    transform:
                        rotate(45deg) translate(-50%, -50%);
                    width: 0.375rem;
                }

                &:checked {
                    background: var(--color-green);
                    border-color: var(--color-green);
                }
            }

            .card:hover .radio {
                border-color: var(--color-dark-gray);

                &:checked {
                    border-color: var(--color-green);
                }
            }
        }

        .plan-details {
            border: var(--radio-border-width) solid var(--color-gray);
            border-radius: var(--card-radius);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            padding: var(--card-padding);
            transition: border-color 0.2s ease-out;
        }

        .card:hover .plan-details {
            border-color: var(--color-dark-gray);
        }

        .radio:checked~.plan-details {
            border-color: var(--color-green);
        }

        .radio:focus~.plan-details {
            box-shadow: 0 0 0 2px var(--color-dark-gray);
        }

        .radio:disabled~.plan-details {
            color: var(--color-dark-gray);
            cursor: default;
        }

        .radio:disabled~.plan-details .plan-type {
            color: var(--color-dark-gray);
        }

        .card:hover .radio:disabled~.plan-details {
            border-color: var(--color-gray);
            box-shadow: none;
        }

        .card:hover .radio:disabled {
            border-color: var(--color-gray);
        }

        .plan-type {
            color: var(--color-green);
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1em;
        }

        .plan-cost {
            font-size: 2.5rem;
            font-weight: bold;
            padding: 0.5rem 0;
        }

        .slash {
            font-weight: normal;
        }

        .plan-cycle {
            font-size: 2rem;
            font-variant: none;
            border-bottom: none;
            cursor: inherit;
            text-decoration: none;
        }

        .hidden-visually {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
</head>
<!-- cart + summary -->
<section class="bg-light my-5">
    <div class="container">
        <div class="row">
            <!-- cart -->
            <div class="col-lg-9">
                <div class="card border shadow-0">
                    <div class="m-4">
                        <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: bolder;" class="card-title mb-4">
                            Select Address
                        </h1>
                        <a href="/address" class="btn btn-info" style="margin-left: 35rem;">Add address</a>
                        <!-- <div class="row gy-3 mb-4">
                            <div class="col-lg-5">
                                <div class="me-lg-5">
                                    <div class="d-flex">
                                        <img src="/upload/product"
                                            class="border rounded me-3" style="width: 96px; height: 96px;" />
                                        <div class="">
                                            <a href="#" class="nav-link">Name</a>
                                            <p class="text-muted">Yellow, Jeans</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-4 col-6 mb-3">
                                    <label class="mb-2 d-block">Quantity</label>
                                    <div class="input-group mb-3" style="width: 170px;">
                                    <button class="btn btn-white border border-secondary px-3" type="button" id="decrementButton" data-mdb-ripple-color="dark"">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input name="quantity" type="text" class="form-control text-center border border-secondary"  aria-label="Example text with button addon" aria-describedby="decrementButton" />
                                    <button class="btn btn-white border border-secondary px-3" type="button" id="incrementButton" data-mdb-ripple-color="dark">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    </div>
                                    <div class="mt-4">
                                        <p>Size:</p>
                                    </div>
                                </div>

                            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                                <div class="">
                                    <text class="h6">$1156.00</text> <br />
                                    <small class="text-muted text-nowrap"> 100 / per item </small>
                                </div>
                            </div>
                            <div
                                class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                                <div class="float-md-end">
                                    <a href="#!" class="btn btn-light border px-2 icon-hover-primary"><i
                                            class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                                    <a href="#" class="btn btn-light border text-danger icon-hover-danger"> Remove</a>
                                </div>
                            </div>
                        </div> -->

                        <form class="boxed" action="/buy" method="post">
                            <%for(i=0;i<userData.address.length;i++){%>
                                <input type="radio" class="addressId" id="<%=userData.address[i]._id%>" checked
                                    name="address" required="true" value="<%=userData.address[i]._id%>">
                                <label for="<%=userData.address[i]._id%>" class="d-flex">
                                    <%=userData.address[i].name%><br>
                                        <%=userData.address[i].number%>
                                            <%=userData.address[i].altNumber%><br>
                                                <%=userData.address[i].pincode%><br>
                                                    <%=userData.address[i].house%>
                                                        <%=userData.address[i].landmark%>
                                                            <%=userData.address[i].town%>
                                                                <%=userData.address[i].state%>
                                                                    <%=userData.address[i].country%>
                                </label>
                                <%}%>
                                    <br><br>
                                    <h2>Select Payment method</h2>
                                    <div class="grid mb-4">

                                        <label class="card">
                                            <input name="paymentMethod" class="radio" type="radio" value="cod" checked>
                                            <span class="plan-details">

                                                <img src="/cod.jpg" alt="cod-img">
                                            </span>
                                        </label>

                                        <label class="card">
                                            <input name="paymentMethod" class="radio" type="radio" value="razorpay">
                                            <span class="plan-details">

                                                <img src="/razorpay.jpeg" alt="razorpay-img">
                                            </span>
                                        </label>

                                        <label class="card">
                                            <input name="paymentMethod" class="radio" type="radio" value="paypal">
                                            <span class="plan-details">

                                                <img style="height:14rem;" src="paypal.jpeg" alt="paypal-img">
                                            </span>
                                        </label>

                                    </div>
                                    <%for(i=0;i<productDetails.length;i++){%>

                                        <div class="d-flex mb-3 border border-success rounded p-3">
                                            <img class="img-fluid" width="100px"
                                                src="/upload/product/<%=productDetails[i].ProductDetails[0].images[0]%>"
                                                alt="Product-img">
                                            <p for="name" class="ms-4">
                                                <%=productDetails[i].ProductDetails[0].name%><br>
                                                    <s>₹<%=productDetails[i].ProductDetails[0].regularPrice%></s>
                                                    <b>₹<%=productDetails[i].ProductDetails[0].promotionalPrice%>
                                                            </b><br>
                                                    Quantity: <%=productDetails[i].quantity%>

                                            </p>
                                        </div>
                                        <%}%>

                                            <input type="submit" value="SUBMIT">
                        </form>
                    </div>
                </div>
            </div>
            <!-- cart -->
            <!-- summary -->
            <div class="col-lg-3">
                <div class="card mb-3 border shadow-0">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label class="form-label">Have coupon?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control border" name="" placeholder="Coupon code" />
                                    <button class="btn btn-light border">Apply</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card shadow-0 border">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Total price:</p>
                            <p class="mb-2">
                                <%=GrandTotal%>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Discount:</p>
                            <p class="mb-2 text-success">-$60.00</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">TAX:</p>
                            <p class="mb-2">$14.00</p>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Total price:</p>
                            <p class="mb-2 fw-bold">
                                <%=userData.promotionalPrice%>
                            </p>
                        </div>

                        <div class="mt-3">
                            <a onclick="makePurchase('<%=GrandTotal%>')" class="btn btn-success w-100 shadow-0 mb-2">
                                Make Purchase </a>
                            <a href="#" class="btn btn-light w-100 border mt-2"> Back to shop </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- summary -->
        </div>
    </div>
</section>
<!-- cart + summary -->
<section>
    <div class="container my-5">
        <header class="mb-4">
            <h3>Recommended items</h3>
        </header>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card px-4 border shadow-0 mb-4 mb-lg-0">
                    <div class="mask px-2" style="height: 50px;">
                        <div class="d-flex justify-content-between">
                            <h6><span class="badge bg-danger pt-1 mt-3 ms-2">New</span></h6>
                            <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
                        </div>
                    </div>
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp"
                            class="card-img-top rounded-2" />
                    </a>
                    <div class="card-body d-flex flex-column pt-3 border-top">
                        <a href="#" class="nav-link">Gaming Headset with Mic</a>
                        <div class="price-wrap mb-2">
                            <strong class="">$18.95</strong>
                            <del class="">$24.99</del>
                        </div>
                        <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                            <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card px-4 border shadow-0 mb-4 mb-lg-0">
                    <div class="mask px-2" style="height: 50px;">
                        <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
                    </div>
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp"
                            class="card-img-top rounded-2" />
                    </a>
                    <div class="card-body d-flex flex-column pt-3 border-top">
                        <a href="#" class="nav-link">Apple Watch Series 1 Sport </a>
                        <div class="price-wrap mb-2">
                            <strong class="">$120.00</strong>
                        </div>
                        <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                            <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card px-4 border shadow-0">
                    <div class="mask px-2" style="height: 50px;">
                        <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
                    </div>
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp"
                            class="card-img-top rounded-2" />
                    </a>
                    <div class="card-body d-flex flex-column pt-3 border-top">
                        <a href="#" class="nav-link">Men's Denim Jeans Shorts</a>
                        <div class="price-wrap mb-2">
                            <strong class="">$80.50</strong>
                        </div>
                        <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                            <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card px-4 border shadow-0">
                    <div class="mask px-2" style="height: 50px;">
                        <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
                    </div>
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp"
                            class="card-img-top rounded-2" />
                    </a>
                    <div class="card-body d-flex flex-column pt-3 border-top">
                        <a href="#" class="nav-link">Mens T-shirt Cotton Base Layer Slim fit </a>
                        <div class="price-wrap mb-2">
                            <strong class="">$13.90</strong>
                        </div>
                        <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                            <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recommended -->

<!-- Footer -->
<footer class="text-center text-lg-start text-muted bg-primary mt-3">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start pt-4 pb-4">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-12 col-lg-3 col-sm-12 mb-2">
                    <!-- Content -->
                    <a href="https://mdbootstrap.com/" target="_blank" class="text-white h2">
                        MDB
                    </a>
                    <p class="mt-1 text-white">
                        © 2023 Copyright: MDBootstrap.com
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-6 col-sm-4 col-lg-2">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-2">
                        Store
                    </h6>
                    <ul class="list-unstyled mb-4">
                        <li><a class="text-white-50" href="#">About us</a></li>
                        <li><a class="text-white-50" href="#">Find store</a></li>
                        <li><a class="text-white-50" href="#">Categories</a></li>
                        <li><a class="text-white-50" href="#">Blogs</a></li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-6 col-sm-4 col-lg-2">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-2">
                        Information
                    </h6>
                    <ul class="list-unstyled mb-4">
                        <li><a class="text-white-50" href="#">Help center</a></li>
                        <li><a class="text-white-50" href="#">Money refund</a></li>
                        <li><a class="text-white-50" href="#">Shipping info</a></li>
                        <li><a class="text-white-50" href="#">Refunds</a></li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-6 col-sm-4 col-lg-2">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-2">
                        Support
                    </h6>
                    <ul class="list-unstyled mb-4">
                        <li><a class="text-white-50" href="#">Help center</a></li>
                        <li><a class="text-white-50" href="#">Documents</a></li>
                        <li><a class="text-white-50" href="#">Account restore</a></li>
                        <li><a class="text-white-50" href="#">My orders</a></li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-12 col-sm-12 col-lg-3">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-2">Newsletter</h6>
                    <p class="text-white">Stay in touch with latest updates about our products and offers</p>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control border" placeholder="Email" aria-label="Email"
                            aria-describedby="button-addon2" />
                        <button class="btn btn-light border shadow-0" type="button" id="button-addon2"
                            data-mdb-ripple-color="dark">
                            Join
                        </button>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <div class="">
        <div class="container">
            <div class="d-flex justify-content-between py-4 border-top">
                <!--- payment --->
                <div>
                    <i class="fab fa-lg fa-cc-visa text-white"></i>
                    <i class="fab fa-lg fa-cc-amex text-white"></i>
                    <i class="fab fa-lg fa-cc-mastercard text-white"></i>
                    <i class="fab fa-lg fa-cc-paypal text-white"></i>
                </div>
                <!--- payment --->

                <!--- language selector --->
                <div class="dropdown dropup">
                    <a class="dropdown-toggle text-white" href="#" id="Dropdown" role="button"
                        data-mdb-toggle="dropdown" aria-expanded="false"> <i
                            class="flag-united-kingdom flag m-0 me-1"></i>English </a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Dropdown">
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English <i
                                    class="fa fa-check text-success ms-2"></i></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
                        </li>
                    </ul>
                </div>
                <!--- language selector --->
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

<script>
    function makePurchase(GrandTotal) {


        let addressId = $(".addressId:checked").val();
        let payment = $(".radio:checked").val();


        $.ajax({
            url: '/makePurchase',
            method: 'post',
            data: {
                addressId: addressId,
                payment: payment,
                GrandTotal: GrandTotal

            }, success: (response) => {
                console.log(response.status)
                
                if (response.status == true) {
                    Swal.fire({
                        title: "Order success",
                        text: "order placed successfully",
                        icon: "success",
                        showCancelButton: true,
                        confirmButtonText: "view orders",
                        cancelButtonText: "continue shopping",
                        reverseButtons: true
                    }).then(function (result) {
                        if (result.value) {
                            location.href = '/orderDetails?id='+response.id
                            // result.dismiss can be "cancel", "overlay",
                            // "close", and "timer"
                        } else if (result.dismiss === "cancel") {
                            location.href = '/productList'
                        }
                    });

                } else {
                    Swal.fire({
                        title: 'Error Occured',
                        text: "Can't process order error occured",
                        icon: 'fail',
                        timer: 5000
                    })

                }
            }
        })
    }
</script>