<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
<%- include('../partials/user-header')%>
<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a id="selectedImageLink" style="width: 600px;height: 400;" data-fslightbox="mygallery" class="rounded-4" target="_blank" data-type="image" href="#">
            <img id="selectedImage" style="height: 500px; width: 600px; margin: auto;" class="rounded-4 fit" src="/upload/product/<%=product.images[0]%>" />
          </a>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <% for (i = 0; i < product.images.length; i++) { %>
            <a data-fslightbox="mygallery" class="border mx-1 rounded-2" data-type="image" href="#" onclick="changeImage('<%= product.images[i] %>')" class="item-thumb">
              <img width="60" height="60" class="rounded-2" src="/upload/product/<%= product.images[i] %>" />
            </a>
          <% } %>
        </div>
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h3 class="title text-dark"><%= product.name %>
           
          </h3>
         

          <div class="mt-5 mb-3">
            <span id="price" class="h5">Rs.<%= product.promotionalPrice %></span>
            
          </div>

          <p>
            <%= product.description %>
           
          </p>

          

          <hr />

         

          <div class="row mb-4">
            <div class="col-md-4 col-6">
              <label class="mb-2">Size</label>
              <select name="size" class="form-select border border-secondary" style="height: 35px;">
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
              </select>
            </div>
            <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Quantity</label>
                <div class="input-group mb-3" style="width: 170px;">
                <button class="btn btn-white border border-secondary px-3" type="button" id="decrementButton" data-mdb-ripple-color="dark">
                    <i class="fas fa-minus"></i>
                </button>
                <input name="quantity" type="text" id="quantityInput" class="form-control text-center border border-secondary" value="1" aria-label="Example text with button addon" aria-describedby="decrementButton" />
                <button class="btn btn-white border border-secondary px-3" type="button" id="incrementButton" data-mdb-ripple-color="dark">
                    <i class="fas fa-plus"></i>
                </button>
                </div>
            </div>
            </div>
          </div>
          <a onclick="buyNow()" style="background-color: #ff3368; color: #ffff;" class="btn  shadow-0"> Buy now </a>
          <button href="#" class="btn btn-primary shadow-0 " onclick="addToCart('<%= product._id %>','<%= product.promotionalPrice %>')">  <i class="me-1 fa fa-shopping-basket" ></i> Add to cart </button>
          <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Save </a>
        </div>
      
      </main>
    </div>
  </div>
</section>
<!-- content -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

<script>
  function changeImage(newImageSrc) {
    const selectedImage = document.getElementById('selectedImage');
    const selectedImageLink = document.getElementById('selectedImageLink');
    
    selectedImage.setAttribute('src', "/upload/product/" + newImageSrc);
    selectedImageLink.setAttribute('href', "/upload/product/" + newImageSrc);
  }

  const decrementButton = document.getElementById("decrementButton");
  const incrementButton = document.getElementById("incrementButton");
  const quantityInput = document.getElementById("quantityInput");

  decrementButton.addEventListener("click", () => {
    let currentQuantity = parseInt(quantityInput.value);
    if (!isNaN(currentQuantity)) {
      currentQuantity = Math.max(currentQuantity - 1, 0);
      quantityInput.value = currentQuantity;
    }
  });

  incrementButton.addEventListener("click", () => {
    let currentQuantity = parseInt(quantityInput.value);
    if (!isNaN(currentQuantity)) {
      currentQuantity++;
      quantityInput.value = currentQuantity;
    }
  });


  function addToCart(proId,price){
    
    const quantity = document.getElementById("quantityInput").value;

    $.ajax({
                url:'/cart',
                method:'post',
                data:{
                    proId:proId,
                    quantity:quantity

                },
                success:(response)=>{
                  console.log(response);
                 
                  console.log(response.status);
                  if(response.status==true){
                    Swal.fire({
                            title: 'Item dded to cart ',
                            text: 'Product has been added to cart succesfully.',
                            icon: 'success',
                            timer: 5000
                        })
                  }else{
                    console.log('failed')
                  }     
                            
                    
                }
            })
  }

  function buyNow(){
    $.ajax({
      url:'/buy?'+'<%= product._id %>'
    })
  }
</script>