<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

  <style>
    #img-zoomer-box {
            max-width: 500px !important;
            height: auto !important;
            position: relative !important;
            margin: 10px auto !important;
        }

        selectedImage {
            width: 100% !important;
            height: auto !important;
        }

        #img-zoomer-box:hover,
        #img-zoomer-box:active {
            cursor: zoom-in !important;
            display: block !important;
        }

        #img-zoomer-box:hover #img-2,
        #img-zoomer-box:active #img-2 {
            opacity: 1 !important;
        }

        #img-2 {
            width: 350px !important;
            height: 350px !important;
            margin-top: -120px;
            margin-left: -150px;
            background: url('/upload/product/<%=product.images[0]%>') no-repeat #FFF;
            box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
            pointer-events: none !important;
            position: absolute !important;
            opacity: 0;
            border: 4px solid whitesmoke;
            z-index: 99;
            
            
            border-radius: 100%;
            display: block;
            transition: opacity .2s;
        }
  </style>
</head>
<%- include('../partials/user-header')%>
<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
     


      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
                <div id="img-zoomer-box">
                    <img id="selectedImage" style="width: 40rem; height: 30rem;"
                        class="rounded-4 fit" src="/upload/product/<%=product.images[0]%>" />
                    <div id="img-2"></div>
                </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <% for (i=0; i < product.images.length; i++) { %>
                <a data-fslightbox="mygallery" class="border mx-1 rounded-2" data-type="image" href="#"
                    onclick="changeImage('<%= product.images[i] %>')" class="item-thumb">
                    <img width="60" height="60" class="rounded-2" src="/upload/product/<%= product.images[i] %>" />
                </a>
                <% } %>
        </div>
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
    </aside>


      <main class="col-lg-6">
        <form action="/buyNow?id=<%= product._id %>" method="post">
        <div class="ps-lg-3">
          <h3 class="title text-dark"><%= product.name %>
           
          </h3>
         

          <div class="mt-5 mb-3">
            <span id="price" class="h5">Rs.<%= product.promotionalPrice %></span>
            
          </div>

          <p>
            <%= product.description %>
           
          </p>

          

          <hr />

         <%if(product.unit<10){%>
          <p class="text-danger" id="unit">only <%=product.unit%> stocks left </p>
          <%}%>

          <div class="row mb-4">
           
            <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Quantity</label>
                <div class="input-group mb-3" style="width: 170px;">
                <button class="btn btn-white border border-secondary px-3" type="button" id="decrementButton" data-mdb-ripple-color="dark">
                    <i class="fas fa-minus"></i>
                </button>
                <input name="quantity" type="text" id="quantityInput" class="form-control text-center border border-secondary" value="1" aria-label="Example text with button addon" aria-describedby="decrementButton" />
                <button class="btn btn-white border border-secondary px-3" type="button" onclick="checkStock('<%=product.unit%>')" id="incrementButton" data-mdb-ripple-color="dark">
                    <i class="fas fa-plus"></i>
                </button>
                </div>
            </div>
            </div>
          </div>
          <button type="submit" style="background-color: #ff3368; color: #ffff;" class="btn  shadow-0"> Buy now </button>
          <a href="#" class="btn btn-primary shadow-0 " onclick="addToCart('<%= product._id %>','<%= product.promotionalPrice %>')">  <i class="me-1 fa fa-shopping-basket" ></i> Add to cart </a>
           
        </div>
      </form>
      </main>
    </div>
  </div>
</section>
<!-- content -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

<script>
  function changeImage(newImageSrc) {
    document.getElementById('img-2').style.backgroundImage = "url("+'/upload/product/' + newImageSrc + ")";
    const selectedImage = document.getElementById('selectedImage');
    const selectedImageLink = document.getElementById('selectedImageLink');
    
    selectedImage.setAttribute('src', "/upload/product/" + newImageSrc);
    selectedImageLink.setAttribute('href', "/upload/product/" + newImageSrc);
  }

  const decrementButton = document.getElementById("decrementButton");
  const incrementButton = document.getElementById("incrementButton");
  const quantityInput = document.getElementById("quantityInput");

  decrementButton.addEventListener("click", () => {
    let currentQuantity = parseInt(quantityInput.value);
    if (!isNaN(currentQuantity)) {
      currentQuantity = Math.max(currentQuantity - 1, 1);
      quantityInput.value = currentQuantity;
    }
  });

  incrementButton.addEventListener("click", () => {
    let currentQuantity = parseInt(quantityInput.value);
    if (!isNaN(currentQuantity)) {
      currentQuantity++;
      quantityInput.value = currentQuantity;
    }
  });

  function checkStock(unit){
        let quantity = document.getElementById('quantityInput').value;
        quantity = parseInt(quantity)
        unit = parseInt(unit)
        if(quantity+1>unit){
            Swal.fire({
                    title: 'STOCK!',
                    text: 'Product is out of stock.',
                    icon: 'error',
                    timer: 5000
                })
            document.getElementById('quantityInput').value = quantity-1;
        }
    }


  function addToCart(proId,price){
    
    const quantity = document.getElementById("quantityInput").value;

    $.ajax({
                url:'/cart',
                method:'post',
                data:{
                    proId:proId,
                    quantity:quantity

                },
                success:(response)=>{
                  console.log(response);
                 
                  console.log(response.status);
                  if(response.status==true){
                    Swal.fire({
                            title: 'Item dded to cart ',
                            text: 'Product has been added to cart succesfully.',
                            icon: 'success',
                            timer: 5000
                        })
                  }else if(response.status==false){
                    Swal.fire({
                            title: 'Stock!!',
                             text: 'product is out of stock',
                            icon: 'error',
                            timer: 5000
                        })
                  }else{
                    Swal.fire({
                            title: 'login!!',
                             text: 'you should login to add product to cart',
                            icon: 'warning',
                            timer: 5000
                        })

                  }   
                            
                    
                }
            })
  }

  let zoomer = function () {
        document.querySelector('#img-zoomer-box')
            .addEventListener('mousemove', function (e) {
                let original = document.querySelector('#selectedImage'),
                    magnified = document.querySelector('#img-2'),
                    style = magnified.style,
                    x = e.pageX - this.offsetLeft,
                    y = e.pageY - this.offsetTop,
                    imgWidth = original.offsetWidth,
                    imgHeight = original.offsetHeight,
                    xperc = ((x / imgWidth) * 100),
                    yperc = ((y / imgHeight) * 100);


                if (x > (.01 * imgWidth)) {
                    xperc += (.15 * xperc);
                };

                if (y >= (.01 * imgHeight)) {
                    yperc += (.15 * yperc);
                };

                style.backgroundPositionX = (xperc - 9) + '%';
                style.backgroundPositionY = (yperc - 9) + '%';

                style.left = (x - 180) + 'px';
                style.top = (y - 180) + 'px';

            }, false);
    }();
</script>